.table-icons {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  .icons-chechox {
    position: relative;
    display: flex;
    align-items: center;
    label {
      display: flex;
      cursor: pointer;
      margin-bottom: 0;
      cursor: pointer;
      > input {
        display: none;
        &:checked + .checkbox {
          background-color: #202124;
          opacity: 1;
        }
      }
      .checkbox {
        width: 17px;
        height: 17px;
        border: 2px solid rgb(71, 71, 71);
        border-radius: 2px;
        opacity: 0.16;
        &:hover {
          opacity: 1;
          border: 3px solid black;
        }
      }
    }
  }
  .icons-star,
  .icon-label {
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    .blackstar {
      opacity: 0.16;
    }
  }

  .icons-chechox,
  .icons-star,
  .icon-label {
    &::after {
      content: "";
      width: 35px;
      height: 35px;
      background-color: #e7e7e7e5;
      position: absolute;
      z-index: -99;
      border-radius: 50%;
      left: -8px;
      display: none;
    }

  }

  .icons-chechox,
  .icons-star,
  .icon-label {
    &:hover {
      &::after {
        display: block;
      }
    }
  }
}
